body {
    background: rgb(43, 39, 39);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  section {
    background-color: black;
    background-image: url("Images/LinuxPenguin.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
  }

  .box {
    width: 600px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .box-img {
    border-radius: 40%;
    width: auto;
    height: 500px;
  }

  .box h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
  }

  .box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
  }

  .box div{
    font-size: 17px;
    text-align:center;
    letter-spacing: 2px;
  }

  .box p{
    text-align: justify;
  }

  .ResumeBox {
    width: 950px;
    padding: 20px;
    text-align: left;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .ResumeBox h1{
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 100;
  }

  .ResumeBox dt {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 5px;
  }

  .ProjectBox {
    width: 600px;
    padding: 20px;
    text-align: justify;
    margin-top: 0.5%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .ProjectBox h1{
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 100;
  }

  header {
    background-color: rgb(27, 25, 25);
    background-size: 80%;
    height: 100px;
    padding: 20px;
    text-align: center;
  }
  
  header a {
    color: rgb(23, 148, 206);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
  }

  nav ul {
    margin: 20px;
    padding: 20px;
    list-style-type: upper-latin;
  }
  
  nav li {
    display: inline-block;
    margin-right: 50px;
    font-size: x-large;
  }
  
  .features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
  }
  
  .features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    width: 200px;
  }

  .resumeButton {
      border:rgb(156, 129, 22);
      color: rgb(87, 80, 80);
      padding: 15px 32px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
    
  }